ABOUT-NLS
aclocal.m4
autom4te.cache/
compile
config.guess
config.rpath
config.sub
config.log
config.status
configure
install-sh
m4/
Makefile
Makefile.in
metadata.json
missing
_tmpinst/
*.tar.gz
*.zip

po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/Makefile.in.in
po/Makevars.template
po/quot.sed
po/remove-potcdate.sin
po/Rules-quot
po/POTFILES
po/stamp-po
po/remove-potcdate.sed
po/*.pot
po/*.gmo

schemas/*.gschema.valid
