.workspace-overlay {
  text-align: center;
  text-shadow: -2px -2px rgba(255,255,255,0.5);
  font-weight: bold;
  font-size: 18em;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.0);
  border: 50px;
}

